/* Theme Overides */
:root {
  font-family: "Inter", "Roboto", sans-serif;
  /* --animation-duration: ; */
  /* --background-alt: ; */
  /* --background-body: ; */
  /* --background: ; */
  /* --border: ; */
  /* --button-hover: ; */
  /* --code: ; */
  /* --focus: ; */
  /* --form-placeholder: ; */
  /* --form-text: ; */
  /* --highlight: ; */
  /* --links: ; */
  /* --scrollbar-thumb-hover: ; */
  /* --scrollbar-thumb: ; */
  /* --select-arrow: ; */
  /* --selection: ; */
  /* --text-bright: ; */
  /* --text-main: ; */
  /* --text-muted: ; */
  /* --variable: ; */
}

/* Custom Styles */
body {
  max-width: 55.84rem;
}

.nav-list {
  padding: 0rem;
}

.nav-list li {
  display: inline;
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

.tier-heading {
  margin: 0.5rem;
}

.tier-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 6.625rem;
  padding: 0rem;
}

.tier-section--over {
  padding: 0rem;
  background-color: rgb(255 255 255 / 10%);
}

.character-img {
  display: block;
  border: 0.0625rem solid var(--text-main);
  height: 6.25rem;
  margin: 0.125rem;
}

.svg {
  color: var(--text-main);
}
